body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

img{
    max-width: 90%;
    display: block;
    border-radius: 10px;
    margin: 0 auto
}
/*+++++++++++++++++
Typography
++++++++++++++++++*/

h1, 
h2,
h3 
{
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #143774;
    margin-top:0
}

p{
    letter-spacing: -1px;
}

h1{
    font-size: 3rem;
    margin: 0
}


a{
    color:#707070
}

a:hover,
a:focus{
    color: #143774
}

h2{
    margin: 0;
    padding: .5em;
    text-align:center;
}
/*h1 subtitle*/
.subtitle {
    font-weight: 400;
    color: #007874;
    font-size: 1.5rem;
    margin: .5em;
    text-align: center;
}
.section {
    padding-bottom: 2em;
    margin-bottom: 2em;

}

.section-title {
    font-size: 2rem;
}

.section-body{
    margin-bottom: 5em;
}

.read-more,
.article-info{
    font-size: 0.875rem;
}

.quote{
    margin-top: 1em;
    font-family: 'Rancho';
    font-size: 1.5em;
    text-align: center;
}

/* .read-more:hover,
.read-more:focus{
    color: #143774;
    text-decoration: underline; 
} */

.article-body{
    font-size: 1em;
    margin: 2em 0;
}


/*+++++++++++++++++
Layout
++++++++++++++++++*/
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto; /*default container that is reusable*/
}


.container-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width: 675px) {
    header {
        text-align: left;
    }
    
    .container-flex {
        flex-direction: row;
    }
    
    main {
        width: 70%;

    }
    
    aside {
        width: 30%;
        min-width: 200px;
        margin-right: 2em;
        background:#f8f8f8;
        height: 80vh;
        margin-top: 0.7em;
    }
}

header {
    background:#f8f8f8;
    padding: 2em 0;
    margin-bottom: 3em;
    text-align:center;
}


/*+++++++++++++++++
Navigation
++++++++++++++++++*/

nav ul{

    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li{
    margin-left: 2em;
}

@media(max-width: 675px){
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin: .5em 0
    }
}

nav a{
    padding: .25em 0;
    text-decoration: none;
    color: #707070;
    font-weight: 700;

}

nav a:hover, /*we should always have a focus state style in links but not necessary*/
nav a:focus{
    color: #1792d2
}

/* .current-page{
    border-bottom: 1px solid #707070
} */

.current-page:hover{
    color: #707070
}

/*+++++++++++++++++
Main
++++++++++++++++++*/


.main-container{
    margin-top: .7em;
}

@media (min-width: 675px) {
    .section {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .section-image {
        order: -2;
        min-height: 250px;
        object-fit: cover;
        /* object-position: left; */
    }
    
}
/*+++++++++++++++++

+++++++++++++++++*/

.sidebar{
    text-align: center;
    margin-bottom: 2em;
    padding: 1em;

}

.contact{
    padding: 1em;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.widget-image{
    order: -1
}
.links{
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    line-height: 40px

}

.read-or-hide{
    color:#1792d2;
    font-size: .9em
}

.technology-container{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}

h3{
    margin: 0 1em;
}

.article-list{
    margin: 0;
    text-align: center;

}